<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container">
            <h1>Sign Up</h1>
            <hr>
            <input type="text" class="form-control" name="username" placeholder="Username">
            <input type="text" class="form-control" name="first_name" placeholder="First name">
            <input type="text" class="form-control" name="last_name" placeholder="Last name">
            <input type="password" class="form-control" name="psw" placeholder="Password">
            <div>
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </div>
        </form>
    </body>
</html>